<div class="footer">
	<ul class="links__list">
		<li class="list__link"><a href="" class="footer__link">Users and Groups</a></li>
		<li class="list__link"><a href="" class="footer__link">About DocuShare</a></li>
		<li class="list__link"><a href="" class="footer__link">Mobile Client Settings</a></li>
		<li class="list__link"><a href="" class="footer__link">Help</a></li>
		<li class="list__link"><a href="" class="footer__link">Statistics</a></li>
		<li class="list__link"><a href="" class="footer__link">Cookies</a></li>	
	</ul>
	<div class="copyright">
		<span class="copyright__info">© 1996-2015 SupercompanyCorporation</span>
		<span class="copyright__info">All Rights Reserved.</span>
	</div>
</div>