<div class="main">
	<div class="data js">
		<div class="data-head">
			<h3 class="data-head__caption">collections</h3>
			<p class="data-head__descr">Top level collections</p>
			<div class="data-head__logo">
				{{mixins.icon('coll')}}
			</div>
		</div>
		<div class="data-body">
			<div class="data-body__link">
				<a href="" class="link__caption">Extranet Materials</a>
				<p class="link__descr">Content for collaboration with external participants.</p>
			</div>
			<div class="data-body__link">
				<a href="" class="link__caption is-visited">Branding Materials</a>
				<p class="link__descr">All document components (text/graphics/fills/rules, etc.)</p>
			</div>
			<div class="data-body__link">
				<a href="" class="link__caption">Print-ready Materials</a>
				<p class="link__descr">The department that generates a print shop request is responsible for the work.</p>
			</div>	
			<button class="more">See more</button>
		</div>	
	</div>
	<div class="data js">
		<div class="data-head">
			<h3 class="data-head__caption">other links</h3>
			<p class="data-head__descr">Links to other content</p>
			<div class="data-head__logo">
				{{mixins.icon('links')}}
			</div>
		</div>
		<div class="data-body">
			<div class="data-body__link">
				<a href="" class="link__caption">My DocuShare</a>
				<p class="link__descr">Your personalized DocuShare home page</p>
			</div>
			<div class="data-body__link">
				<a href="" class="link__caption">WorkCentre Scan Repository</a>
				<p class="link__descr">Temporary storage for scanned documents</p>
			</div>
			<div class="data-body__link">
				<a href="" class="link__caption">Contact Information</a>
				<p class="link__descr">Number and e-mail address of the original document creator.</p>
			</div>	
			<button class="more">See more</button>
		</div>	
	</div>
	<div class="data data_workspace">
		<div class="data-head data-head_workspace">
			<div class="data-head__logo data-head__logo_workspace">
				{{mixins.icon('plane')}}
			</div>
			<h3 class="data-head__caption data-head__caption_workspace">collections</h3>
			<p class="data-head__descr data-head__descr_workspace">Top level collections</p>
			<button class="more more_workspace">Take a Tutorial</button>
		</div>
		<div class="data-body data-body_right">
			<div class="data-body__link data-body__link_twitter">
				<div class="twitter__person">
					<img src="./img/twitter_pic.jpg" alt="" class="twitter__pic">
					<h5 class="twitter__name">BritishMonarchy</h5>
					<a href="#" class="twitter__link">@BritishMonarchy</a>
					<div class="data-head__logo data-head__logo_twitter">
						{{mixins.icon('speach')}}
					</div>
				</div>
				<div class="person_twit">
					<p>It is a pleasure to open the Information Age exhibition today at the @ScienceMuseum and I hope people will enjoy visiting. </p>
				</div>
				<div class="twit_advanced">
					<div class="twit__info">
						{{mixins.icon('twitter')}}
						<p class="twit__date">1:35 PM - 24 Oct 2015</p>
					</div>
					<div class="twit__change">
						<span class="change__button"><</span>
						<span class="change__button">></span>
					</div>	
				</div>	
			</div>
		</div>
		<div class="data data_col">
			<div class="data-head data-head_col">
				<h3 class="data-head__caption">collections</h3>
				<p class="data-head__descr">Top level collections</p>
				<div class="data-head__logo data-head_col__logo">
					{{mixins.icon('share')}}
				</div>
			</div>
			<div class="data-body">
				<div class="data-body__workspace">
					{{mixins.icon('file')}}
					<h5 class="workspace_name">Workspace</h5>
				</div>
				<div class="data-body__link">
					<a href="" class="link__caption">Duracell Inc</a>
					<p class="link__descr">PM, Eng & SQA document share and test file locations for Cogniance engagement.</p>
				</div>
				<div class="data-body__communities">
					<div class="community__block">
						<h6 class="community_name">Wiki</h6>
						<button class="more more_community">See more</button>
					</div>
					<div class="community__block">
						<h6 class="community_name">Weblogs</h6>
						<button class="more more_community">See more</button>
					</div>	
				</div>
			</div>
		</div>	
	</div>
</div>