<div class="nav">
	<ul class="nav-list">
		<li class="nav-list__item is-active">
			home
		</li>
		<li class="nav-list__item">
			{{mixins.icon('home')}}
			my docushare
		</li>
		<li class="nav-list__item">
			{{mixins.icon('task')}}
			my tasks
		</li>
		<li class="nav-list__item">
			{{mixins.icon('favorite')}}
			my favorites
		</li>
		<li class="nav-list__item">
			{{mixins.icon('recent')}}
			recent
		</li>
	</ul>
	<div class="background-jobs">
		{{mixins.icon('recent')}}
		background jobs
		<span class="counter">8</span>
	</div>
</div>