.icon-coll {
  width: 1.03em;
  height: 1em;
  fill: #e6e8e9;
}
.icon-favorite {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-file {
  width: 1.22em;
  height: 1em;
  fill: #e8eaeb;
}
.icon-gear {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-home {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-links {
  width: 1em;
  height: 1em;
  fill: #e6e8ea;
}
.icon-plane {
  width: 1em;
  height: 1em;
  fill: #fefefe;
}
.icon-recent {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share {
  width: 1em;
  height: 1em;
  fill: #e6e7e9;
}
.icon-speach {
  width: 1.14em;
  height: 1em;
  fill: #e6e8e9;
}
.icon-task {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
